body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header, nav, main, footer {
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  color: #ff6600;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #ff6600;
}

p {
  color: #444;
}

footer a {
  color: #ff6600;
}

footer a:hover {
  color: #fff;
}

/* Estilo para ajustar o tamanho do iframe */
#iframe-vlibras {
  width: 100%; /* Utiliza toda a largura disponível */
  height: 1000px; /* Altura ajustada para 1179x2556 pixels */
}
